@use "@/shared/styles/functions" as *;

.spirits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(20);

  @media (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
