@use "@/shared/styles/functions" as *;

.button {
  padding-inline: rem(30);
  padding-block: rem(10);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-light);
  width: 100%;

  &:hover:not(:disabled) {
    scale: 1.05;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
