@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

.notification {
  position: fixed;
  left: 50%;
  top: rem(30);
  transform: translateX(-50%);
  background-color: var(--color-light);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  padding: rem(20);
  min-width: rem(200);
  min-height: rem(100);
  @include flex-center;
  text-align: center;
  z-index: 10;
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
}

@-webkit-keyframes show {
  0% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes show {
  0% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
