@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

.card {
  background-color: var(--color-light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow);
  overflow: hidden;
  border: var(--border);

  &Image {
    width: 100%;
    height: rem(300);
    -o-object-fit: cover;
    object-fit: cover;
  }

  &Content {
    padding: rem(20);
  }

  &Info {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding-block: rem(5);

    &Title {
      font-weight: 600;
    }
  }

  &Level {
    padding: rem(2) rem(15);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
  }
}
