@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

html,
body {
  width: 100%;
  overflow-x: hidden;
  scrollbar-color: var(--color-gray-900) transparent;
}

body {
  font-family: var(--font-inter-sans);
  color: var(--color-gray-900);
  background-color: var(--color-gray-300);
  width: 100%;
  font-size: rem(16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  @include flex-center;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}
