@use "@/shared/styles/functions" as *;

.monitoring {
  padding-block: rem(50);

  &Title {
    font-size: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
    margin-bottom: rem(30);
    text-transform: capitalize;
  }
}
